
<div class="full">
	<div class="group">
		<p> parking allocation </p>

	</div>


	<div style="background-size:cover" class="back">

		<div class="log">
			<form class="input-group">
				<input type="text" class="input-field" placeholder="Admin name" required/>
				<br>
        	<input type="text" class="input-field" placeholder="Admin id" required/>
				<br>
				<input type="password" class="input-field" placeholder="password" required/>
				<br>
        <br>
        <br>
				<button routerLink="/admin" class="sub-but">login</button>
			</form>
			<br>


		</div>
		

		</div>
	</div>