.group {
  overflow: hidden;
  background-color: crimson;
  margin: 5px;
  border-radius: 10px;
}

.group p {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 16px;

  font-family: Verdana;
  text-decoration: none;
  font-size: 20px;
}
.center p {
  text-align: center;
}
.lt {
  top: 28%;
  margin-left: 10%;
  position: absolute;
  display: block;
}
.rt {
  top: 28%;
  left: 60%;
  position: absolute;
  display: block;
}
label {
  width: 100px;
  display: inline-block;
}
.pay {
  top: 70%;
  left: 45%;
  position: absolute;
   width: 70;
  padding: 5px 30px;
  display: block;
  margin: auto;
  border: 0;
  outline: none;
  cursor: pointer;
}
.one {
  top: 15%;
  left: 50%;
  font-weight: bold;
  position: absolute;
  text-align: center;
}
