<div class="full">
	<div class="group">
		<p> parking allocation </p>

	</div>


	<div style="background-size:cover" class="back">

		<div class="log">
			<form class="input-group" name="myForm">
				<input type="text" class="input-field" placeholder="User name" required/>
				<br>
				<input type="password" class="input-field" placeholder="password" required/>
				<br>
				<br>
				<br>
				<button routerLink="/home" class="sub-but">login</button>
			</form>
			<br>


		</div>
			<div routerLink="/registration" class="new">New User</div>
			<div routerLink="/adminlogin" class="new1">Admin login</div>


		</div>
	</div>