<div class="full">
	<div class="group">
		<p> parking allocation </p>

	</div>


	<div style="background-size:cover" class="back">

		<div class="log">
			<form class="input-group">
				<input type="text" class="input-field" placeholder="User name" required/>
				<input type="text" class="input-field" placeholder="Mobile no" required/>
				<input type="text" class="input-field" placeholder="E-mail" required/>
				<br>
				<input type="password" class="input-field" placeholder="password" required/>
				<br>
				<button routerLink="/home" class="sub-but">register</button>
			</form>
			<br>


		</div>

		</div>
	</div>