<div class="group">
	<p> Parking Allocation </p>

</div>
<div>
  	<button routerLink="/login"  class="sub-but1">logout</button>
	<div class="one">
		<p>Select Parking</p>
		<select name="my-select"  [(ngModel)]="mySelect" >
    <option [value]="item.parking_name" *ngFor="let item of com.data">
        {{item.parking_name}}
    </option>
</select>
	</div>
	<div class="center">
		<div class="lt">
			<p>customer details </p>
			<label>Name :  </label> <input type="text"  [(ngModel)] = "customer_name"/>
			<br><br>
			<label>Mobile no : </label> <input type="text"  [(ngModel)] = "customer_mobile"/>
			<br><br>
			<label>Vechile no :  </label><input type="text"  [(ngModel)] = "customer_vechicle"/>
			<br><br>
			<label>Email:  </label><input type="text"  [(ngModel)] = "customer_email"/> <br><br>
    </div>
			<div class="rt">
				<p>parking details</p>
				<label>  11am to 12pm </label> <input type="checkbox"  [(ngModel)] = "ck1" (focusout)="selectChange()"/>
				<br><br>
				<label>  12pm to 1am </label>
				<input type="checkbox"  [(ngModel)] = "ck2" (focusout)="selectChange()"/><br><br>
				<label>parking slot</label> <input type="text" value="{{available}}" readonly>
				<br><br>
				<label>parking location</label> <input type="text" value="{{mySelect}}" readonly>

    </div>

			</div>
			<div>
				<button class="pay" routerLink="/payment" (click)="populate(ck1,ck2)">Proceed to payment</button>
			</div>
		</div>